---
import ToolLayout from "@layouts/ToolLayout.astro";
import DiscordPreviewApp from "@components/discord-preview/DiscordPreviewApp";
---

<ToolLayout
    title="Discord Message Preview"
    description="Previsualiza mensajes de Discord con embeds, botones, markdown y más. Exporta como JSON o API payload."
    icon="M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515a.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0a12.64 12.64 0 0 0-.617-1.25a.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.1 18.099a.082.082 0 0 0 .031.058a20.507 20.507 0 0 0 6.096 3.084a.075.075 0 0 0 .083-.026c.46-.63.882-1.296 1.258-1.996a.075.075 0 0 0-.041-.102a12.75 12.75 0 0 1-1.807-.866a.075.075 0 0 1-.008-.127c.123-.094.244-.192.363-.293a.076.076 0 0 1 .078-.01c3.744 1.711 7.818 1.711 11.516 0a.075.075 0 0 1 .078.01c.12.1.24.198.363.293a.075.075 0 0 1-.008.127a12.91 12.91 0 0 1-1.807.866a.075.075 0 0 0-.041.102c.376.7 1.798 1.366 1.258 1.996a.075.075 0 0 0 .083.026a20.51 20.51 0 0 0 6.096-3.084a.08.08 0 0 0 .031-.058c.491-5.176-.844-9.67-3.702-13.702a.066.066 0 0 0-.032-.027ZM8.02 15.332c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.956-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.956 2.418-2.157 2.418Zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.955-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.946 2.418-2.157 2.418Z"
    iconFill={true}>
    <div id="discord-preview-root">
        <DiscordPreviewApp client:only="react" />
    </div>
</ToolLayout>
